<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <template v-if="logado"> <!-- A tag template funciona como uma div mas a diferença é que a tag template não existe no html, é uma div "invisivel" -->
        <p v-if="logado">Bem vindo(a), {{ usuario }} </p>
        <p>Perfil: admin</p>
    </template>
    <p v-else-if="anonimo">Navegando como anonimo</p>
    <p v-else>Nenhum usuario logado</p>
    <button @click="logado = !logado" > {{ logado ? 'Sair': 'Entrar' }} </button>
    <input type="checkbox" v-model="anonimo">
</div>

<script>
    new Vue({
        el: '#app',

       data: {
        usuario: 'Maria',
        logado: false,
        anonimo: false,
       } 
    })
</script>